<% @rest.each do |rest| %>
<p>***********************************</p>
<p>
Name:<%= rest["name"]%>
</p>
<p>
Address: <%= rest["address"]%>
</p>

<%= link_to "DETAIL", detail_detail_path(id: rest["id"])%>

<p>***********************************</p>
<% end %>

<br><br><br><br><br>
<p>
<!-- リクエストパラメタを表示-->
リクエストパラメタ: <%= @query%>
</p>
<!-- 生のjsonを表示-->
result: <%= @result%>
</p>
<p>
  <!-- エラーメッセージを表示-->
<!--message: <%= @message%>-->
</p>