<% @rest.each do |rest| %>

<p>
Name:<%= rest["name"]%>
</p>
<p>
Address: <%= rest["address"]%>
</p>
<p>
Tel: <%= rest["tel"]%>
</p>
<p>
Category: <%= rest["category"]%>
</p>

<%= link_to "LINK", detail_detail_path(id:'e837527')%>
<% end %>


<p>
<!-- リクエストパラメタを表示-->
リクエストパラメタ: <%= @query%>
</p>
<!-- 生のjsonを表示-->
result: <%= @result%>
</p>
<p>
  <!-- エラーメッセージを表示-->
<!--message: <%= @message%>-->
</p>