フリーワード検索欄
<div id="nav-search">
        <%= form_tag({:controller => 'search', :action => 'show'}, {:method => :get}) do %>
            <p>
                <%= text_field_tag :freeword, params[:freeword] %>
                <%= submit_tag "検索" %>
            </p>
        <% end %>
</div>


<p>***********************************</p>
<!--結果がヒットしなかった場合-->
<% if @rest.blank? %>
<p>
エラーコード：<%= @err_code %> 
</p>
<p>
エラーメッセージ：<%= @err_msg %>
</p>
<% else %>
<% @rest.each do |rest| %>
<p>***********************************</p>
<p>
店名:<%= rest["name"]%>
</p>
<p>
住所: <%= rest["address"]%>
</p>

<%= link_to "DETAIL", detail_detail_path(id: rest["id"])%>

<p>***********************************</p>

<% end %>

<% end %>
<%= will_paginate @rest %>









<br><br><br><br><br>
<p>
<!-- リクエストパラメタを表示-->
リクエストパラメタ: <%= @query%>
</p>
<!-- 生のjsonを表示-->
<!--result: <#%= @result%>-->
</p>
<p>
  <!-- エラーメッセージを表示-->
<!--message: <%= @message%>-->
</p>