<h2>詳細画面</h2>
<!-- 生のjsonを表示-->
<img src=" <%=  @rest[0]["image_url"]["shop_image1"]%>">
<img src=" <%=  @rest[0]["image_url"]["shop_image2"]%>">
<p>店名: <%=  @name %></p>
<p>テンメイ: <%=  @name_kana %></p>
<p>ジャンル: <%=  @category %></p>
<p>エリア: <%=  @area %></p>
<p>電話: <%=  @tel %></p>
<p>住所: <%=  @address %></p>
<% if @opentime.blank? %>
<p>営業時間: 不明</p> 
<% else %>
<p>営業時間:<%=  @opentime %></p> 
<% end %>
<% if @holiday.blank? %>
<p>休業日: 不明</p> 
<% else %>
<p>休業日:<%=  @holiday %></p>
<% end %>
<p>アクセス: <%= @station_exit %>から<%= @walk %>分</p>
<p>URL: <a href =<%= @hp %>>ホームページ</a></p>
<br>
<br>
<p>*****************************************************</p>

<p>
<!-- リクエストパラメタを表示-->
リクエストパラメタ: <%= @query%>
</p>
<!-- 生のjsonを表示-->
result: <%= @result%>
</p>
<p>
  <!-- エラーメッセージを表示-->
<!--message: <%= @message%>-->
</p>